body {
  margin: 0;
  font-family: sans-serif;
}

.bg-image {
  width: 100%;
  height: 100vh;
  background: url(img/751462.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  font-size: 50px;
  text-align: center;
}

p {
  text-align: justify;
}

.container {
  padding: 100px;
}
